.footer{
  width: 100%;
  border-top: 1px solid #e7e7e7;
  background-color: #f1f4f9;
  padding-top: 35px;
}
.footer-contact{
  padding: 20px 0px;
}
#copyright{
  background: #1e69de; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #1e69de 0%, #54a3ee 69%, #3690f0 69%, #3690f0 69%, #6db3f2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#1e69de), color-stop(69%,#54a3ee), color-stop(69%,#3690f0), color-stop(69%,#3690f0), color-stop(100%,#6db3f2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #1e69de 0%,#54a3ee 69%,#3690f0 69%,#3690f0 69%,#6db3f2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #1e69de 0%,#54a3ee 69%,#3690f0 69%,#3690f0 69%,#6db3f2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #1e69de 0%,#54a3ee 69%,#3690f0 69%,#3690f0 69%,#6db3f2 100%); /* IE10+ */
  background: linear-gradient(45deg,  #1e69de 0%,#54a3ee 69%,#3690f0 69%,#3690f0 69%,#6db3f2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e69de', endColorstr='#6db3f2',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
padding: 10px 20px;
  color: white;
  margin-top: 20px;
}
