.footer{
  width: 100%;
  border-top: 1px solid #e7e7e7;
  background-color: #f1f4f9;
  padding-top: 35px;
}
.footer-contact{
  padding: 20px 0px;
}
#copyright{
  background: $primaryColor; /* Old browsers */
  background-color: $primaryColor;
  padding: 10px 20px;
  color: white;
  margin-top: 20px;
}
